:root{
  --prtxtcol: #0A0908;
  --sectxtcol: #22333B;
  --prbckcol: #F2F4F3;
  --secbckcol: #A9927D;
  --tertbckcol: #5E503F;
  --fontbig: 100%;
  --fontmed: 80%;
  --fontsmall:70%;

}
*{
  margin: auto;
  padding: auto;
  font-size: var(--fontbig);
  color: var(--prtxtcol);
  background-color: var(--prbckcol);
  box-sizing: border-box;
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
}
header nav{
  padding: 1em 0 1em 0;
  width: 100%;
  position: fixed;
  top:0;
  background-color: var(--secbckcol);
  background-image: url('https://gamedev.ru/files/images/tile-256x256-058.jpg');
  background-blend-mode: screen, multiply;
  box-shadow: 0 -5px 5px -5px #333 inset;
  justify-content: end;
}
header nav a:first-child {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--sectxtcol);
  border: 0;
  border-radius: 0;
  float: left;
}
header nav a{
  float: right;
  height: 100%;
  padding:0.5em 1em 0.5em 1em;
  margin: auto 1em;
  border: solid 1px var(--prtxtcol);
  border-radius: 1em;
}
header nav a:hover{
  background-color: var(--tertbckcol);
  border:solid 1px var(--sectxtcol);
  transition: all 0.3s linear;
}
header nav a:first-child:hover{
  background-color: transparent;
  border:solid 0px transparent;
  border-radius: 0;
  text-justify: top;
  font-size: 1.8em;
  padding: 0 0 0 0;
  transition: all 0.6s linear;
}

header nav a span{
  background-color: transparent;
  color: var(--tertbckcol);
  font-size: var(--fontsmall);
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;

}

header a{
  text-decoration: none;
  display: inline-block;
}
header img{
  height: 1em;
}
.hero{
  margin-top: 3em;
  background-color: var(--tertbckcol);
  padding:5em 5em 5em 5em;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3e/Learning_Commons_in_Mills_Memorial_Library_at_McMaster_University.jpg');
  background-size: cover;
  background-blend-mode: screen, multiply;
  text-shadow: 1px 1px var(--sectxtcol);
}
.hero h1{
  background-color: transparent;
  margin-left: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  text-transform: uppercase;
  padding: 0.5em;
}
.hero p{
  background-color:  transparent;
  margin-left: 1em;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  padding: 0.5em;
}
.hero p+p{
  margin-left: 6em;
}
.hero button{
  padding: 1em;
  border-radius: 2em;
  text-align: center;
  margin: 1em auto auto 12em;
}
.bigpic{
  z-index: 2;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Vacuum_Pump_or_Compressor.svg/2000px-Vacuum_Pump_or_Compressor.svg.png");
  background-size: cover;
}
